---
layout: default
body-tag: projects
subtitle:
---

<article id="project" class='article'>
  <header class="article-header">
    <h1 class="page-heading article-title">Recent Projects</h1>
    <h2 class="article-subtitle"><span>{{ page.subtitle }}</a></span></h2>
  </header>

  <ul class="project-list">
    {% for project in site.categories.project %}
      <li>
        <div class="columns">
          {% for image in project.images %}
            <div class="column column-{{ project.col }}">
              <img class='' src="/images/{{ image }}" alt="{{ project.title }} screenshot">
            </div>
          {% endfor %}
        </div>

        <div class="columns">
          <div class="column">
            <h2 class='project-title'>{{ project.title }}</h2>
          </div> 
        </div>

        <div class="columns">
          <div class="column column-2">
            <div class="wrapper">
              <p>{{ project.subtitle }}</p>
            </div>
          </div>  

          <div class="column column-2">
            <div class="wrapper">
              <ul class='project-meta'>
                <li><p><strong><em>Tech:</em></strong> {{ project.tech }}</p></li>
                <li><p><strong><em>Links:</em></strong> Github / Web</p></li>
              </ul>
            </div>
          </div>

          <div class="column">
            <div class="wrapper">
              <span class="project-meta"></span>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</article>

  <!-- older work -->

<article id="archived" class='article'>
  <header class="article-header">
    <h1 class="page-heading article-title">Older Work</h1>
    <h2 class="article-subtitle"><span>{{ page.subtitle }}</a></span></h2>
  </header>

  <ul class="project-list">
    {% for project in site.categories.archived %}
      <li>
        <div class="columns">
          {% for image in project.images %}
            <div class="column column-{{ project.col }}">
              <img class='' src="/images/{{ image }}" alt="{{ project.title }} screenshot">
            </div>
          {% endfor %}
        </div>

        <div class="columns">
          <div class="column">
            <h2 class='project-title'>{{ project.title }}</h2>
          </div> 
        </div>

        <div class="columns">
          <div class="column column-2">
            <div class="wrapper">
              <p>{{ project.subtitle }}</p>
            </div>
          </div>  

          <div class="column column-2">
            <div class="wrapper">
              <ul class='project-meta'>
                <li><p><strong><em>Tech:</em></strong> {{ project.tech }}</p></li>
<!--                 <li><p><strong><em>Links:</em></strong> Github / Web</p></li> -->
              </ul>
            </div>
          </div>

          <div class="column">
            <div class="wrapper">
              <span class="project-meta"></span>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</article>
