.article {

}

.article-post {

}

.article-header {

}

.article-title {
  background-color: $black;
  color: #f6f6f6;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.1em;  
  margin-bottom: 1.5em;
  max-width: 400px;  
  padding: .2em .5em .3em .5em; 
  text-transform: uppercase;
}

.article-subtitle {
  color: #black;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4em;
}

.article-subtitle span {
  background-color: #E4E0E3; //#4E2E45; // #573A4C;
}

.article-content {

}

.article-footer {

}

@media only screen and (min-width: $mid-break) {
  .article {
    margin-left: 3em;
    margin-right: 1em;
  }

  .article-post {
    max-width: 700px;
  }

  .article-title {
    margin-left: -2em;
  }

  .article-subtitle {
    max-width: 700px;
  }
}