.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.column {
  width: 100%;
}

@media only screen and (min-width: $mid-break) {
  .column {
    width: 50%;
  }
}
