.site-header {
  background: url('/images/header-bg-alt.jpg') no-repeat;
  background-size: cover;
  width: 100%;  
}

.site-description {
  color: $white;
}

@media only screen and (min-width: $mid-break) {
  .site-header {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
  }

  .site-description {
    margin-top: 2em;
  }
}
