.site-header {
  background: url('http://placehold.it/450x800') no-repeat;
  background-size: cover;
  width: 100%;  
}

@media only screen and (min-width: $mid-break) {
  .site-header {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
  }
}
