body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {

}

.wrapper {
  padding: 2em;
}

.column .wrapper {
  padding: .5em 1em 2em 1em;
}

@media only screen and (min-width: $mid-break) {
  .main-content {
    margin-left: 30%;

    .wrapper {
      padding-right: 0;
    }
  } 

  .intro {
    padding-right: 30%;
  }
}
