ul, ol {
  list-style: none;
  margin: 0;
}

li {
  > ul,
  > ol {
   margin-bottom: 0;
 }
}

.list-default {
  list-style: circle;
  margin-left: 1em;
}

.social-media-list li {
  display: inline;
  margin-right: .5em;
}

.project-meta p {
  margin-bottom: 0;
}

@media only screen and (min-width: 35em) {

}
