audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

.icon {
  > svg {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;

    path {
        fill: $black;
    }
  }
}

#logo-jobenko {
  max-width: 350px;
}

// .logo-outlines {
//   display: none;
// }

@media only screen and (min-width: $mid-break) {
  .icon {
    > svg {
      path {
          fill: white;
      }
    }
  }
}
