.article-post img {
	margin-bottom: 2em;
}

.teaser {
	margin-top: 2em;
}

.breadcrumb {
	font-style: italic;
	margin-bottom: 1em;
}

.blog-header-image {
	border-top: 10px solid #333;
}

@media only screen and (min-width: 35em) {

}
