.project-title {
  background-color: white;
  border-bottom: 5px solid #ddd;
  display: inline-block;
  font-weight: 900;
  margin-top: -50px;
  padding: 0 .5em;
  padding-bottom: em;
}

#project .article-header {
	margin-bottom: 2em;
}

@media only screen and (min-width: 35em) {

}
